@model FirstAzureSearchApp.Models.SearchData
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/hotels.css" />
</head>
<body>
    <h1 class="mb-5">
        Azure Cognitive Search
    </h1>


    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        // Display the search text box, with the search icon to the right of it.
        <div class="searchBoxForm">
            @Html.TextBoxFor(m => m.searchText, new { @class = "searchBox" }) <input class="searchBoxSubmit" type="submit" value="" style="">
        </div>

        @if (Model != null)
        {
            // Show the result count.
            <p class="sampleText">
                @Model.resultList.TotalCount Results
            </p>

            var results = Model.resultList.GetResults().ToList();

            <div class="d-flex">
                <div class="row">

                    @for (var i = 0; i < results.Count; i++)
                    {
                        <div class="card col-3 m-4" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@results[i].Document.Name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Result №@i</h6>
                                <p class="card-text">@results[i].Document.GroupName</p>
                            </div>
                        </div>
                    }
                </div>
            </div>

         }
    }
</body>
